#main{
    width: 400px;
    height: 550px;
    border-radius: 20px;
    border: solid rgb(79, 79, 252);
    background-color: rgb(173, 219, 233);
    margin-top: 200px;
    margin-left: 40%;
    
    
    
}

.result{
    width: 100%;
    height: 170px;
    background-color: rgb(241, 238, 238);
    border-radius: 20px;
    display: flex;
}

.second{
    width: 400px;
    height: 260px;
    margin-top: 70px;
    margin-left: 7px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.btn{
    width: 80px;
    height: 50px;
    border-radius: 40px;
    margin: 5px;
    font-weight: bold;
    font-size: 1.3em;
    
}

.btn:hover{
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

#btn15{
    width: 100px;
}



#variables{
    width: 100%;
    height: 50px;
    border: 4px solid black;
    
}



